p {
    color: white;
}

h1 {
    color: white;
}

@media only screen and (max-width: 300px) {
    body {
        background-color: red;
        font-size: 12px;
    }

    #small {
        margin-left: 2%;
        margin-right: 2%;
    }

    #medium {
        margin-left: 2%;
        margin-right: 2%;
    }

    #large {
        margin-left: 2%;
        margin-right: 2%;
    }
}


@media only screen and (min-width: 300px)and (max-width: 768px) {
    body {
        background-color: green;
        font-size: 18px;
    }

    #small {
        float: left;
        width: 60%;
        margin-left: 5%;
    }

    #medium {
        float: left;
        width: 30%;
        margin-left: 5%;
        padding-right: 2%;
    }

    #large {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 23px;
    }

    #small {
        float: left;
        width: 30%;
        margin-left: 3%;
    }

    #medium {
        float: left;
        width: 30%;
        margin-left: 3%;
    }

    #large {
        float: left;
        width: 30%;
        margin-left: 3%;
        padding-right: 2%;
    }
}